
html,body {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--bodyFont);
    font-size: 18px;
    scroll-behavior: smooth;
    
}



.skipTo {
    position: absolute;
    z-index: 10;
    transform: translateY(-100px);
    padding: 0.5rem;
    background-color: var(--black);
    color: var(--white);
}

.skipTo:focus {
    transform: translateY(0px);
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--accentDark);
}

.a-dark {
    color: var(--white);
    text-decoration: none;
}

.a-dark:hover {
    color: var(--accentLight);
}

.underlineMenu {
    border-bottom: 2px solid var(--accentDark);
    color: var(--accentDark);
}

.underlineMenu-dark {
    border-bottom: 2px solid var(--accentLight);
    color: var(--accentLight);
}

header {
    background-color: var(--black);
    position: relative;
    font-size: 20px;
    text-align: right;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 60px var(--marginsLeftRight-D);
    z-index: 5;
    align-items: center;
    height: 75px;
}
/*
@media screen and (max-width: 480px) {
    header {
        margin: 15px var(--marginsLeftRight-M);
    }
}
*/

@media screen and (max-width: 1024px) and (min-width: 480px) {
     header {
        margin: 15px var(--marginsLeftRight-T);
    }
}




nav, ul {
    display: flex;
    list-style: none;
    text-align: right;
    gap: 30px;

}

.desktop-nav {
    display: none;
}

.overlay-menu {
    height: 90vh;
    width: 100vw;
    background-color: var(--white);
    z-index: 10;
    position: absolute;
    top:0;
    left: 0;
}



.overlay-menu ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    width: 100%;
}

.hidden {
    display: none;
}



@media screen and (min-width: 480px){
    .desktop-nav{
        display: block;
    }  

    .mobile-menu-icon {
        display: none;
    }
    .overlay-menu {
        display: none;
    }
}



.hero {
    background-image: url('../assets/Images/Hero_image.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display:flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    padding: 270px var(--marginsLeftRight-D);
    transform: translateY(-135px);
    animation: change 25s infinite ease-in-out;
}

@keyframes change{
    0%
    {
        background-image: url('../assets/Images/Hero1.png');
    }
    15%
    {
        background-image: url('../assets/Images/Hero1.png');
    }
    
    25%
    {
        background-image: url('../assets/Images/Hero2.png');
    }
    40%
    {
        background-image: url('../assets/Images/Hero2.png');
    }
    
    50%
    {
        background-image: url('../assets/Images/Hero5.png');
    }
    65%
    {
        background-image: url('../assets/Images/Hero5.png');
    }
    
    75%
    {
        background-image: url('../assets/Images/Hero4.png');
    }
    90%
    {
        background-image: url('../assets/Images/Hero4.png');
    }
    
    100%
    {
        background-image: url('../assets/Images/Hero1.png');
    }
}


@media screen and (max-width: 480px) {
    @keyframes change{
        0%
        {
            background-image: url('../assets/Images/gunderhuset-heros-10.png');
        }
        15%
        {
            background-image: url('../assets/Images/gunderhuset-heros-10.png');
        }
        
        25%
        {
            background-image: url('../assets/Images/gunderhuset-heros-11.png');
        }
        40%
        {
            background-image: url('../assets/Images/gunderhuset-heros-11.png');
        }
        
        50%
        {
            background-image: url('../assets/Images/gunderhuset-heros-12.png');
        }
        65%
        {
            background-image: url('../assets/Images/gunderhuset-heros-12.png');
        }
        
        75%
        {
            background-image: url('../assets/Images/gunderhuset-heros-13.png');
        }
        90%
        {
            background-image: url('../assets/Images/gunderhuset-heros-13.png');
        }
        
        100%
        {
            background-image: url('../assets/Images/gunderhuset-heros-10.png');
        }
    }
}

.hero-new {
    background-color: var(--black);
    display:flex;
    flex-flow: column;
    width: 100vw;
    height: 90vh;
    padding: 180px var(--marginsLeftRight-D);
}



.hero-logo {
    width: 555px;
}




.role-text-position {
    padding-left: 375px;
}

.flexArrow {
    width: 100%;
    padding-top: 230px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 30px;
    animation-name: bounceArrow;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bounceArrow {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0px);
    }
    
}

@media screen and (max-width: 480px) {
    .hero {
        background-image: url('../assets/Images/Hero_image.jpg');
        background-size: center;
        background-position: 55% 70%;
        background-repeat: no-repeat;
        display:flex;
        flex-flow: column;
        width: 100vw;
        height: 100vh;
        padding: 320px var(--marginsLeftRight-M);
       transform: translateY(-200px);
    }

    .hero-new {
        height: 90vh;
        background-color: var(--black);
        padding: 130px var(--marginsLeftRight-M);
    }
    .flexArrow {
        padding-top: 170px;

    }
    .hero-logo {
        width: 300px;
    }
    .role-text-position {
        padding-left: 20%;
    }

}
@media screen and (max-width: 1024px) and (min-width: 480px) {
    .hero {
        background-image: url('../assets/Images/Hero_image.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display:flex;
        flex-flow: column;
        width: 100vw;
        height: 100vh;
        padding: 280px var(--marginsLeftRight-T);
       transform: translateY(-135px);
    }
    .hero-logo {
        width: 350px;
    }
    .role-text-position {
        padding-left: 20%;
    }

}

/* Take me to top button*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    background-color: var(--accentDark); /* Set a background color */
    color: var(--white); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 7.5px 15px;
    border-radius: 3px; /* Rounded corners */
    border: 1px solid var(--accentDark);
    font-size: 18px; /* Increase font size */
    transition: all 0.10s ease-in-out;
  }
  
#myBtn:hover {
    background-color: var(--white); /* Add a dark-grey background on hover */
    color: var(--accentDark);
    border: 1px solid var(--accentDark);  }


    
#main h1 {
    text-align: center;
    padding-bottom: 45px;
    width: 100%;
}

.projectContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 0 var(--marginsLeftRight-D);
    gap: 60px;
}

.projectCard {
    width: 45%;
    display: flex;
    flex-flow: column;
}

.projectCard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
}

.projectCard h3 {
    text-align: left;
}


@media screen and (max-width: 480px) {
    .projectContainer {
        display: flex;
        flex-flow: column wrap;
        margin: 0 var(--marginsLeftRight-M);
        gap: 50px;
    }
    
    .projectCard {
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    
    .projectCard img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 3px;
    }
    
    .projectCard h3 {
        text-align: left;
        margin-top:10px
    }
    
}
@media screen and (max-width: 1024px) and (min-width: 480px) {
    .projectContainer {
        display: flex;
        flex-flow: column wrap;
        margin: 0 var(--marginsLeftRight-T);
        gap: 50px;
    }
    
    .projectCard {
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    
    .projectCard img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 3px;
    }
    
    .projectCard h3 {
        text-align: left;
        margin-top:10px

    }
}

.project-page {
    display: flex;
    flex-flow: column nowrap;
    gap: 100px;

}

.project-page h1 {
    text-align: center;

}

.project-page-top-img {
    height: 80vh;
    width: 100vw;
    object-fit: cover;
}


.flex-column-section {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    padding: 0px var(--marginsLeftRight-D);
}

.flex-column-section img {
    width: 100%;
    border-radius: 3px;

}

.left-column {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.right-column {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.column-reverse {
    flex-direction: row;
}

@media screen and (max-width: 480px) {
    .flex-column-section {
        display: flex;
        flex-flow: column nowrap;
        gap: 30px;
        padding: 0px var(--marginsLeftRight-M);
    }
    .column-reverse {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 1024px) and (min-width: 480px) {
    .flex-column-section {
        display: flex;
        flex-flow: row nowrap;
        gap: 30px;
        padding: 0px var(--marginsLeftRight-T);
    }
}




.tools-flex {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
    padding: 0px 20%;
}


.tool {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;
}

.tool img {
    height: 50px;
    object-fit: contain;
}

.tool span {
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .tools-flex {
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        justify-content: center;
        padding: 0px 40px;
    }
    .tool img {
        height: 40px;
        object-fit: contain;
    }
    .tool span {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 480px) {
    .tools-flex {
        padding: 0px 0px;
    }
}

.marginsBlockContent {
    margin: 0px var(--largeMarginsLeftRight-D);
    max-width: 720px; /*Forhindrer at tekstlinjene blir over 80 tegn ved bred skjerm*/
    padding-bottom: 15px;
}

.blockContent {
    max-width: 720px; /*Forhindrer at tekstlinjene blir over 80 tegn ved bred skjerm*/
    padding-bottom: 15px;

}

.blockContentImage {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    border-radius: 3px;
}

@media screen and (max-width: 480px) {
    .marginsBlockContent {
        margin: 0 var(--largeMarginsLeftRight-M);
    }
    .blockContentImage {
        max-height: 250px;

    }
    
}

@media screen and (max-width: 1024px) and (min-width: 480px) {
    .marginsBlockContent {
        margin: 0 var(--largeMarginsLeftRight-T);
    }
}


.aboutColumns {
    padding:60px var(--marginsLeftRight-D);
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.aboutColumns div  {
    width: 50%;
}

.aboutColumns div h1 {
    padding-bottom: 30px;
}

.aboutColumns img {
    width: 50%;
    height: 630px;
    object-fit: cover;
    border-radius: 3px;

}

@media screen and (max-width: 480px) {
    .aboutColumns {
        padding:60px var(--marginsLeftRight-M);
        display: flex;
        flex-flow: column nowrap;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
    }
    
    .aboutColumns div  {
        width: 100%;
    }
    
    .aboutColumns div h1 {
        padding-bottom: 15px;
    }
    .aboutColumns img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 3px;

    }
}

@media screen and (max-width: 1024px) and (min-width: 480px) {
    .aboutColumns {
        padding:60px var(--marginsLeftRight-T);
        display: flex;
        flex-flow: row nowrap;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
    }
    
    .aboutColumns div  {
        width: 50%;
    }
    
    .aboutColumns div h1 {
        padding-bottom: 30px;
    }
    .aboutColumns img {
        height: 450px;
        object-fit: cover;
        border-radius: 3px;

    }
}




footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    background-color: var(--white);
    border-top: 1px solid var(--accentDark);
}

.contact {
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: center;

}

.socialMedia {
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 15px;
}

.copyright {
    font-size: 0.667rem;
    padding-top: 0.556rem;
}






