
html,body {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--bodyFont);
    font-size: 18px;
    scroll-behavior: smooth;
    
}



.skipTo {
    position: absolute;
    z-index: 10;
    transform: translateY(-100px);
    padding: 0.5rem;
    background-color: var(--black);
    color: var(--white);
}

.skipTo:focus {
    transform: translateY(0px);
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--accentDark);
}

.underlineMenu {
    border-bottom: 2px solid var(--accentDark);
    color: var(--accentDark);
}

header {
    position: relative;
    font-size: 20px;
    text-align: right;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 30px 160px 30px 160px;
    z-index: 5;
    align-items: center;
    height: 75px;
}

@media screen and (max-width: 540px) {
    header {
        margin: 10%;
    }
}

nav, ul {
    display: flex;
    list-style: none;
    text-align: right;
    gap: 30px;

}

.desktop-nav {
    display: none;
}

.overlay-menu {
    height: 80vh;
    width: 100vw;
    background-color: var(--white);
    z-index: 10;
    position: absolute;
    top:0;
    left: 0;
}



.overlay-menu ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    width: 100%;
}

.hidden {
    display: none;
}



@media screen and (min-width: 540px){
    .desktop-nav{
        display: block;
    }  

    .mobile-menu-icon {
        display: none;
    }
    .overlay-menu {
        display: none;
    }
}



.hero {
    background-image: url('../assets/Images/Hero_image.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display:flex;
    flex-flow: column;
    background-color: rgb(144, 144, 144);
    width: 100vw;
    height: 100vh;
    padding: 100px 160px;
   transform: translateY(-135px);

}


.paddingLeft375 {
    padding-left: 375px;
}

.flexArrow {
    width: 100%;
    padding-top: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 30px;
    animation-name: bounceArrow;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bounceArrow {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0px);
    }
    
}


#main h1 {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}


.projectCard {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    min-height: 26rem;
    gap: 5%;
    padding: 2rem;
}

.projectCard img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.projectCard h2 {
    text-align: left;
    width: 300px;
    align-self: center;
}

.projectCard img:nth-child(2) {
    align-self: flex-end;
}

@media screen and (max-width: 540px) {
    .projectCard {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
        min-height: 26rem;
        gap: 5%;
        padding: 2rem;
    }
    
    .projectCard img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .projectCard h2 {
        text-align: left;
        width: 100px;
        align-self: center;
    }
    
    .projectCard img:nth-child(2) {
        align-self: flex-end;
    }
}

.aboutColumns {
    padding:3.333rem 8.889rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.aboutColumns div  {
    width: 50%;
}

.aboutColumns div h1 {
    padding-bottom: 30px;
}

.aboutColumns img {
    width: 50%;
    height: 630px;
    background-color: cornsilk;
    object-fit: cover;
}



.project-page {
    display: flex;
    flex-flow: column nowrap;
    gap: 100px;

}

.project-page h1 {
    text-align: center;

}

.project-page-top-img {
    height: 80vh;
    width: 100vw;
    object-fit: cover;
}

.text-section {
    padding: 0px 360px;
}

.text-big-image-section {
    padding: 0rem 8.889rem;;
}

.text-big-image-section h2 {
    padding: 0px 200px;
}

.text-big-image-section h3 {
    padding: 0px 200px;
}

.text-big-image-section p {
    padding: 0px 200px;
}

.text-big-image-section img {
    width: 100%;
}

.flex-column-section {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    padding: 0px 15%;
}

.flex-column-section img {
    width: 100%;
}

.left-column {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.right-column {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.tools-flex {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
}

.tools-flex img {
    width: 50px;
    align-self: center;
}

.tool {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;
}

.tool img {
    height: 50px;
    object-fit: contain;
}

.marginsBlockContent {
    margin: 0px 25%;
    max-width: 720px; /*Forhindrer at tekstlinjene blir over 80 tegn ved bred skjerm*/
    padding-bottom: 30px;
}

.blockContent {
    max-width: 720px; /*Forhindrer at tekstlinjene blir over 80 tegn ved bred skjerm*/
    padding-bottom: 30px;

}

.blockContentImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
}




.contactSection {
    margin: 80px 25%;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}



footer {
    text-align: center;
    margin-top: 1.111rem;
    margin-bottom: 1.111rem;
}

.socialMedia {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 15px;
}

.copyright {
    font-size: 0.667rem;
    padding-top: 0.556rem;
}


