@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display&display=swap');

:root {
    --white: #F3F3F3;
    --white80: #F3F3F380;
    --black: #2E2E2E;
    --accentDark: #883D13;
    --accentLight: #FFA877;
    --accentDark20: #DECFC6;
    --identityFont: 'Playfair Display', serif;
    --bodyFont: 'Montserrat', sans-serif;
    
    /* DESKTOP MARGINS */
    --marginsLeftRight-D: 15%;
    --largeMarginsLeftRight-D: 25%;

    /* TABLET MARGINS */
    --marginsLeftRight-T: 10%;
    --largeMarginsLeftRight-T: 15%;

    /* MOBILE MARGINS */
    --marginsLeftRight-M: 10%;
    --largeMarginsLeftRight-M: 10%;
    
}


p {
    font-size: 1rem;
    font-weight: 400;
}

strong {
    font-size: 1rem;
    font-weight: 600;
}

.heading {
    font-size: 4.209rem;
    font-family: var(--identityFont);
    font-weight: 400;
}

.hero-text {
    color: var(--white);
    font-size: 70px;
    font-family: var(--identityFont);
    text-align: center;
}
.roleText {
    font-size: 1.333 rem;
    color: var(--accentLight);
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .hero-text {
        color: var(--white);
        font-size: 40px;
        font-family: var(--identityFont);
        text-align: center;
    }
    .roleText {
        font-size: 20px;
        color: var(--accentLight);
        font-weight: 400;
        text-align: center;
    }
}

.link {
    color: var(--accentDark);
}

h1 {
    font-family: var(--identityFont);
    font-size: 3.157rem;
    font-weight: 400;
}

h2 {
    font-family: var(--identityFont);
    font-size: 2.369rem;
    font-weight: 400;
}

h3 {
    font-family: var(--identityFont);
    font-size: 1.777rem;
    font-weight: 400;
}

h4 {
    font-size: 1.333rem;
    font-weight: 400;
}

button {
    text-align: center;
    font-family: var(--bodyFont);
    font-size: 18px;
    color: var(--white);
    cursor: pointer;

    background-color: var(--accentDark);
    border: 1px solid var(--accentDark);
    border-radius: 3px;
    
    padding: 7.5px 15px;
    transition: all 0.10s ease-in-out;
}

button:hover {
    background-color: var(--white);
    border: 1px solid var(--accentDark);
    border-radius: 3px;
    color: var(--accentDark);
}

.secondaryButton {
    text-align: center;
    font-family: var(--bodyFont);
    font-size: 18px;
    color: var(--accentDark);
    cursor: pointer;
    text-decoration: none;

    background-color: transparent;
    border: none;
    border-radius: 3px;
    
    transition: all 0.10s ease-in-out;
}
.secondaryButton:hover {
    text-align: center;
    font-family: var(--bodyFont);
    font-size: 18px;
    color: var(--accentDark);
    cursor: pointer;
    text-decoration: underline;

    background-color: transparent;
    border: none;
    border-radius: 3px;
    
    transition: all 0.10s ease-in-out;
}


@media screen and (max-width: 480px) {
    p {
        font-size: 0.889rem;
        font-weight: 400;
    }
    .roleText {
        font-size: 0.667rem;
        color: var(--accentDark);
        font-weight: 400;
    }
    
    h1 {
        font-family: var(--identityFont);
        font-size: 2.444rem;
        font-weight: 400;
    }

    h2 {
        font-family: var(--identityFont);
        font-size: 1.889rem;
        font-weight: 400;
    }
    
    h3 {
        font-family: var(--identityFont);
        font-size: 1.667rem;
        font-weight: 400;
    }
    
    h4 {
        font-size: 1.067rem;
        font-weight: 400;
    }
    
}
