@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display&display=swap');

:root {
    --white: #F3F3F3;
    --black: #2E2E2E;
    --accentDark: #883D13;
    --accentLight: #FFA877;
    --identityFont: 'Playfair Display', serif;
    --bodyFont: 'Montserrat', sans-serif;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

.heading {
    font-size: 4.209rem;
    font-family: var(--identityFont);
    font-weight: 400;
}

.roleText {
    font-size: 1.333 rem;
    color: var(--accentDark);
    font-weight: 400;
}

h1 {
    font-family: var(--identityFont);
    font-size: 3.157rem;
    font-weight: 400;
}

h2 {
    font-family: var(--identityFont);
    font-size: 2.369rem;
    font-weight: 400;
}

h3 {
    font-family: var(--identityFont);
    font-size: 1.777rem;
    font-weight: 400;
}

h4 {
    font-size: 1.333rem;
    font-weight: 400;
}
