@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display&display=swap');

:root {
    --white: #F3F3F3;
    --black: #2E2E2E;
    --accentDark: #883D13;
    --accentLight: #FFA877;
    --identityFont: 'Playfair Display', serif;
    --bodyFont: 'Montserrat', sans-serif;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

.heading {
    font-size: 4.209rem;
    font-family: var(--identityFont);
    font-weight: 400;
}

.roleText {
    font-size: 1.333 rem;
    color: var(--accentDark);
    font-weight: 400;
}

h1 {
    font-family: var(--identityFont);
    font-size: 3.157rem;
    font-weight: 400;
}

h2 {
    font-family: var(--identityFont);
    font-size: 2.369rem;
    font-weight: 400;
}

h3 {
    font-family: var(--identityFont);
    font-size: 1.777rem;
    font-weight: 400;
}

h4 {
    font-size: 1.333rem;
    font-weight: 400;
}

button {
    text-align: center;
    font-family: var(--bodyFont);
    font-size: 18px;
    color: var(--white);
    cursor: pointer;

    background-color: var(--accentDark);
    border: 0;
    
    padding: 7.5px 15px;
    transition: all 1s ease-in-out;


}

button:hover {
    transform: scale(1.25);
    background: linear-gradient(284.64deg, #FFA877 0.91%, #883D13 14.74%, #883D13 75.3%, #FFA877 126.02%);;
}


@media screen and (max-width: 540px) {
    p {
        font-size: 0.889rem;
        font-weight: 400;
    }
    
    h1 {
        font-family: var(--identityFont);
        font-size: 1.296rem;
        font-weight: 400;
    }

    h2 {
        font-family: var(--identityFont);
        font-size: 1.215rem;
        font-weight: 400;
    }
    
    h3 {
        font-family: var(--identityFont);
        font-size: 1.138rem;
        font-weight: 400;
    }
    
    h4 {
        font-size: 1.067rem;
        font-weight: 400;
    }
    
}
